.my-pointer {
  cursor: pointer;
}

.applicant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.applicant-field {
  display: flex;
  flex: 0.2;
}

.applicant-score-panel-text {
  color: black !important;
}

.custom-white-panel {
  background: white !important;
  color: black;
  border-radius: 0 0 5px 5px;
}

.custom-input-panel {
  display: flex;
  height: 125px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.custom-input-panel-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.my-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.create-text {
  color: white;
  font-size: 16px;
  margin: 0;
}

.large-plus {
  font-size: 30px;
}

.btn-text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #30A5FF;
  border-radius: 10px;
  padding: 0px 10px;
  border: none;
}

.text-divider {
  width: 10px;
}

.member-btn-content {
  overflow: hidden;
}

.member-btn-content b{
  color: white;
}

.members-scroll {
  height: 400px;
  overflow-y: scroll;
}

@media only screen and (max-width: 700px) {
    #qp-banner-flex {
      flex-direction: column;
    }
  }