.my-pointer {
  cursor: pointer;
}

.applicant-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.applicant-field {
  display: flex;
  flex: 0.2;
}

@media only screen and (max-width: 700px) {
    #qp-banner-flex {
      flex-direction: column;
    }
  }