{% extends 'dash_generic.html' %}
{% block body %}

{% load widget_tweaks %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/dashboard">
          <em class="fa fa-home"></em>
        </a></li>
      <li class="active">Proposal</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12" style="margin-bottom: 20px;">
        <h1 class="page-header" style="padding: 0;">Project
          Proposal{% if perms.landing.can_score_applicant %}s{% else %}{% endif %}  (Not required this quarter)</h1>
        <p class="text-divider"></p>
        {% if perms.landing.can_score_applicant %}
        <button id="all-btn" type="button" class="btn btn-info">View All</button>
        <button id="qp-btn" type="button" class="btn btn-warning">QP Proposals</button>
        <button id="qp2-btn" type="button" class="btn btn-primary">QP++ Proposals</button>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      {% if perms.landing.can_score_applicant %}
      <div id="qp-panels">
        {% for proposal in proposals_qp %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-warning">
            <div class="panel-heading dark-overlay">Team {{ proposal.team_num }} - {{ proposal.get_program_display }} ({{ proposal.team }})
            </div>
            <div class="panel-body">
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Project Title</h5>
                  <div class="col-lg-12">
                    {{ proposal.title }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Project Description</h5>
                  <div class="col-lg-12">
                    {{ proposal.description }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Bill of Materials</h5>
                  <div class="col-lg-12">
                    {{ proposal.materials }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Timeline</h5>
                  <div class="col-lg-12">
                    {{ proposal.timeline }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Confidence</h5>
                  <div class="col-lg-12">
                    {{ proposal.confidence }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="qp2-panels">
        {% for proposal in proposals_qp2 %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-info">
            <div class="panel-heading dark-overlay">Team {{ proposal.team_num }} - {{ proposal.get_program_display }} ({{ proposal.team }})
            </div>
            <div class="panel-body">
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Project Title</h5>
                  <div class="col-lg-12">
                    {{ proposal.title }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Project Description</h5>
                  <div class="col-lg-12">
                    {{ proposal.description }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Bill of Materials</h5>
                  <div class="col-lg-12">
                    {{ proposal.materials }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Timeline</h5>
                  <div class="col-lg-12">
                    {{ proposal.timeline }}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <h5>Confidence</h5>
                  <div class="col-lg-12">
                    {{ proposal.confidence }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <form method="post" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
        </div>
        {% endif %}

        {% for field in form.visible_fields %}
        <br>
        <div class="form-group">
          <p class="text-white" style="font-size: 20px; letter-spacing: 0.5px;">
            {% if field.help_text %}{{ field.help_text }}{% else %}{{ field.label_tag }}{% endif %}</p>
          {% if form.is_bound %}
          {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
          {% endfor %}
          {% else %}
          {% render_field field class="form-control is-valid" %}
          {% endif %}
          {% else %}
          {% render_field field class="form-control" %}
          {% endif %}
        </div>
        <br>
        {% endfor %}
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-info btn-lg"
            style="color: white !important; border-width: 0px !important;">Submit Proposal</button>
        </div>
        <br><br><br><br><br><br><br>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('#qp-btn').click(() => {
    $('#qp-panels').show();
    $('#qp2-panels').hide();
  });

  $('#qp2-btn').click(() => {
    $('#qp-panels').hide();
    $('#qp2-panels').show();
  });

  $('#all-btn').click(() => {
    $('#qp-panels').show();
    $('#qp2-panels').show();
  });
</script>
{% endblock %}