<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="/dashboard"><span>QP</span>2019</a>
        </div>
        <div id="navbar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    {% load static %}
                    <img src="{% static 'images/icons/QPIcon.png' %}" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{ user.get_username }}</div>
                    <div class="profile-usertitle-status"><span class="indicator label-success"></span>Active</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="divider"></div>
            <ul class="nav menu">
                {% load static %}
                <li><a href="/dashboard"><em class="fa fa-home">&nbsp;</em> Home</a></li>
                {% if perms.landing.can_score_applicant %}
                <li><a href="/dashboard/scoring"><em class="fa fa-dashboard">&nbsp;</em> Scoring</a></li>
                {% endif %}
                <li><a href="/dashboard/teams"><em class="fa fa-user">&nbsp;</em><em class="fa fa-user">&nbsp;</em>
                        Teams</a></li>
                <li><a href="/dashboard/mentors"><em class="fa fa-user">&nbsp;</em> Mentors</a></li>
                <li><a href="/dashboard/documentation"><em class="fa fa-file-pdf-o">&nbsp;</em> Proposal</a></li>
                <li><a href="{% static 'documents/entrypacket/QP Fall 2019 Entry Packet.pdf' %}"><em
                            class="fa fa-file-pdf-o">&nbsp;</em> QP Entry Packet</a></li>
                <li><a href="{% static 'documents/entrypacket/QP++ Fall 2019 Entry Packet.pdf' %}"><em
                            class="fa fa-file-pdf-o">&nbsp;</em> QP++ Entry Packet</a></li>
                <li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/.sidebar-->