{% extends 'dash_generic.html' %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">
					<em class="fa fa-home"></em>
				</a></li>
			<li class="active">Home</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Home</h1>
		</div>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading dark-overlay">Announcement</div>
				<div class="panel-body" style="font-size: 15px;">
					Welcome mentors and teams! This is IEEE's first web app for automating administrative tasks and
					providing help for all participants. Please regularly check this to keep updated on upcoming
					events, important announcements, your own material orders, and more! <br><br>
					- Eric and Howard
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="qp-banner-flex" style="display: flex; justify-content: center; align-items: center;">
						{% load static %}
						<img class="text-center" src="{% static 'images/icons/QPlogo.png'%}">
						<h1 class="text-center">Welcome to IEEE Quarterly Projects 2019!</h1>
					</div>
				</div>
			</div>
		</div>

		{% load static %}
		<div class="col-md-6">
			<img width='100%' style="padding-bottom: 20px;" src="{% static 'images/QPphotos/hardlyworking.jpg' %}">

			<div class="panel panel-info ">
				<div class="panel-heading">
					Quick Links
				</div>

				<div class="panel-body timeline-container">
					<ul class="timeline">
						<li>
							<a href="/dashboard" class="timeline-badge primary"><i
									class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Explore this site!</h4>
								</div>
								<div class="timeline-body">
									<p>Feel free to check out links like the team page, mentors page, and documentation
										to get a better idea of what resources are availabe to you!</p>
								</div>
							</div>
						</li>
						<li>
							<a href="http://ieeeucsd.org" class="timeline-badge primary"><i
									class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">IEEE Project Lounge (EBU 4710)</h4>
								</div>
								<div class="timeline-body">
									<p>Go to the IEEE Project Lounge on the 4th floor of Jacobs Hall to get help from
										mentors, replace hardware parts, use soldering machines, 3D printers, and more!
										There will be officers there constantly to guide you!</p>
								</div>
							</div>
						</li>
						<li>
							<a href="https://docs.google.com/spreadsheets/d/1snI_t4pOEXET_zM3MTd2t76jvZ-bqUrpY2zRhkvYiUo/edit?usp=sharing"
								class="timeline-badge primary"><i class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">QP Inventory 2019-2020</h4>
								</div>
								<div class="timeline-body">
									<p>These are all the parts QP currently has available in the IEEE Project Space to
										use for teams this quarter. Familiarizing yourself with these hardware
										components will help immensely in the future!</p>
								</div>
							</div>
						</li>
						<li>
							<a href="http://ieeeucsd.org" class="timeline-badge primary"><i
									class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">IEEE UCSD Website</h4>
								</div>
								<div class="timeline-body">
									<p>The IEEE website regularly updates with important event
										calendars, project space open access hours, and more!</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="panel panel-info">
					<div class="panel-heading">
						My Checklist
					</div>
					<div class="panel-body">
						<ul class="todo-list">
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox-1" />
									<label for="checkbox-1">Make coffee</label>
								</div>
								<div class="pull-right action-buttons"><a href="#" class="trash"><em
											class="fa fa-trash"></em></a></div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md"
								placeholder="Add new task" /><span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
							</span></div>
					</div>
				</div> -->
		</div>

		<div class="col-md-6">
			<img width='100%' style="padding-bottom: 20px;" src="{% static 'images/QPphotos/projectspace.jpg' %}">

			<div class="panel panel-blue articles">
				<div class="panel-heading dark-overlay">
					Upcoming Events
				</div>
				<div class="panel-body articles-container">
					<div class="article border-bottom">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">6</div>
									<div class="text-light">OCT</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4 style="color: white !important;">Deadline
										to
										Submit Application (CLOSED)!</h4>
									<p>This is the final deadline after the GBM in which students will be able to submit
										QP and QP++ applications. Once this deadline has passed, mentors will begin
										sending out application acceptances via email within a week.</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="article border-bottom">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">11</div>
									<div class="text-light">OCT</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4 style="color: white !important;">QP and QP++ Kickoff</h4>
									<p>At the kickoff participants meet their teams, receive the entry packet, get
										informed about hardware, prizes, and the theme of the overall competition. We
										will also introduce the mentors, and set
										up lines of communication so you can stay in contact!</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="article">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">19</div>
									<div class="text-light">OCT</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4 style="color: white !important;">First QP/QP++
										Workathon
									</h4>
									<h5 style="color: white !important;">3pm - 7pm (Qualcomm Conference Room EBU 1)</h5>
									<p>NOTE: If you couldn't come to the kickoff Friday, please come out to Saturday's
										workathon to be onboarded! <br><br> Every two weeks on Saturday or Sunday,
										QP/QP++ will
										hold a workathon session for teams to work on their project! Mentors will be
										there to check up on you and you will have all the hardware resources you need.
										There is also free food provided!</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<!--End .article-->
				</div>
			</div>
			<!--End .articles-->
			<!-- <div class="panel panel-info chat">
				<div class="panel-heading">
					Discussion
				</div>
				<div class="panel-body">
					<ul>
						<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/60/30a5ff/fff" alt="User Avatar" class="img-circle" />
							</span>
							<div class="chat-body clearfix">
								<div class="header"><strong class="primary-font">John Doe</strong> <small
										class="text-muted">32 mins ago</small></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut
									ullamcorper sed, dapibus ac nunc.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-md"
							placeholder="Type your message here..." /><span class="input-group-btn">
							<button class="btn btn-primary btn-md" id="btn-chat">Send</button>
						</span></div>
				</div>
			</div> -->
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->

{% endblock %}

{% block scripts %}
<script>
	window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		window.myLine = new Chart(chart1).Line(lineChartData, {
			responsive: true,
			scaleLineColor: "rgba(0,0,0,.2)",
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleFontColor: "#c5c7cc"
		});
	};
</script>
{% endblock %}