{% extends 'dash_generic.html' %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">
					<em class="fa fa-home"></em>
				</a></li>
			<li class="active">Home</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Home</h1>
		</div>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading dark-overlay">Announcement</div>
				<div class="panel-body" style="font-size: 15px;">
					Hi all QP Participants! We are transitioning over to DevPost this quarter due to COVID-19
					complications! That means this website will no longer be home base for the competition, but will
					still include workshop material and updates for you all to see!
					<br><br>
					- Eric and Howard
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div id="qp-banner-flex" style="display: flex; justify-content: center; align-items: center;">
						{% load static %}
						<img class="text-center" src="{% static 'images/icons/QPlogo.png'%}">
						<h1 class="text-center">Welcome to IEEE Quarterly Projects 2019!</h1>
					</div>
				</div>
			</div>
		</div>

		{% load static %}
		<div class="col-md-6">
			<a href="calendar/"><img width='100%' style="padding-bottom: 20px;"
					src="{% static 'images/OpenAccess/openaccesshours.png' %}"></a>

			<img width='100%' style="padding-bottom: 20px;" src="{% static 'images/QPphotos/hardlyworking.jpg' %}">

			<div class="panel panel-info articles">
				<div class="panel-heading dark-overlay">
					Upcoming Events
				</div>
				<div class="panel-body articles-container">
					<!-- <div class="article border-bottom">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">8</div>
									<div class="text-light">MAR</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4 style="color: black !important;">Milestone Reports #2 Due
									</h4>
									<p> Make sure to submit your milestone reports by 11:59pm on Sunday!
									</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div> -->

					<div class="article">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2 col-md-2 date">
									<div class="large">1</div>
									<div class="text-light">JUN</div>
								</div>
								<div class="col-xs-10 col-md-10">
									<h4 style="color: black !important;">
										QP Online Submissions (DevPost)</h4>
									<p style="color: black !important;">
										Due to COVID-19, IEEE Quarterly Projects will be held online as of Spring 2020.
										The submission process will occur on DevPost, and begin June 1st - June 14th.
									</p>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!--End .articles-->
			<!-- <div class="panel panel-info">
					<div class="panel-heading">
						My Checklist
					</div>
					<div class="panel-body">
						<ul class="todo-list">
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox-1" />
									<label for="checkbox-1">Make coffee</label>
								</div>
								<div class="pull-right action-buttons"><a href="#" class="trash"><em
											class="fa fa-trash"></em></a></div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md"
								placeholder="Add new task" /><span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
							</span></div>
					</div>
				</div> -->
		</div>
		<div class="col-md-6">
			<img width='100%' style="padding-bottom: 20px;" src="{% static 'images/QPphotos/projectspace.jpg' %}">
			<div class="panel panel-info">
				<div class="panel-heading">
					Quick Links
				</div>
				<div class="panel-body timeline-container">
					<ul class="timeline">
						<li>
							<!-- href="/dashboard/teams" -->
							<a href="https://ieeeqp2020.devpost.com/participants" class="timeline-badge info"><i
									class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">View Your Team Assignments!</h4>
								</div>
								<div class="timeline-body">
									<p>Feel free to check out your team assignments under the 'Teams' page, and click
										'View Team' to see your mentor assignments and teammate emails!</p>
								</div>
							</div>
						</li>
						<li>
							{% load static %}
							<!-- calendar/ -->
							<a href="" class="timeline-badge info"><i class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Open Access Hours (IEEE Lounge 4710)</h4>
								</div>
								<div class="timeline-body">
									<h5>CLOSED DUE TO COVID-19</h5>
									<p>Go to the IEEE Project Lounge (EBU 4710) on the 4th floor of Jacobs Hall to get
										help from
										mentors, replace hardware parts, use soldering machines, 3D printers, and more!
										There will be officers there constantly to guide you!</p>
								</div>
							</div>
						</li>
						<li>
							<a href="https://docs.google.com/spreadsheets/d/1snI_t4pOEXET_zM3MTd2t76jvZ-bqUrpY2zRhkvYiUo/edit?usp=sharing"
								class="timeline-badge info"><i class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">QP Inventory 2019-2020</h4>
								</div>
								<div class="timeline-body">
									<p>These are all the parts QP currently has available in the IEEE Project Space to
										use for teams this quarter. Familiarizing yourself with these hardware
										components will help immensely in the future!</p>
								</div>
							</div>
						</li>
						<li>
							<a href="http://ieeeucsd.org" class="timeline-badge primary"><i
									class="glyphicon glyphicon-link"></i></a>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">IEEE UCSD Website</h4>
								</div>
								<div class="timeline-body">
									<p>The IEEE website regularly updates with important event
										calendars, project space open access hours, and more!</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<!-- <div class="panel panel-info chat">
				<div class="panel-heading">
					Discussion
				</div>
				<div class="panel-body">
					<ul>
						<li class="left clearfix"><span class="chat-img pull-left">
								<img src="http://placehold.it/60/30a5ff/fff" alt="User Avatar" class="img-circle" />
							</span>
							<div class="chat-body clearfix">
								<div class="header"><strong class="primary-font">John Doe</strong> <small
										class="text-muted">32 mins ago</small></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ante turpis, rutrum ut
									ullamcorper sed, dapibus ac nunc.</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input id="btn-input" type="text" class="form-control input-md"
							placeholder="Type your message here..." /><span class="input-group-btn">
							<button class="btn btn-primary btn-md" id="btn-chat">Send</button>
						</span></div>
				</div>
			</div> -->
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->

{% endblock %}

{% block scripts %}
<script>
	window.onload = function () {
		var chart1 = document.getElementById("line-chart").getContext("2d");
		window.myLine = new Chart(chart1).Line(lineChartData, {
			responsive: true,
			scaleLineColor: "rgba(0,0,0,.2)",
			scaleGridLineColor: "rgba(0,0,0,.05)",
			scaleFontColor: "#c5c7cc"
		});
	};
</script>
{% endblock %}