{% extends 'dash_generic.html' %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">
					<em class="fa fa-home"></em>
				</a></li>
			<li class="active">Scoring</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Scoring</h1>
		</div>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="alert bg-blue" role="alert">
				<div class="applicant-row">
					<span class="applicant-field">Average Score</span>
					<span class="applicant-field">Reviews</span>
					<span class="applicant-field">Name</span>
					<span class="applicant-field">Year</span>
					<span class="applicant-field">Department</span>
					<span class="applicant-field">Programs</span>
				</div>
			</div>
		</div>
		{% for app in qpapplications %}
		<div class="col-lg-12">
			{% if app.num_of_scores > 4 %}
			<div class="alert bg-teal applicant-link-disabled" role="alert">
				<div class="applicant-row">
					<span class="applicant-field">{% widthratio app.score app.num_of_scores 1 %}</span>
					<span class="applicant-field">{{ app.num_of_scores }}</span>
					<span class="applicant-field">{{ app.first_name }} {{ app.last_name }}</span>
					<span class="applicant-field">{{ app.get_year_of_study_display }}</span>
					<span class="applicant-field">{{ app.get_department_display }}</span>
					<span class="applicant-field">{{ app.get_programs_display }}</span>
				</div>
			</div>
			{% else %}
			<div class="alert bg-primary applicant-link" data="{{ app.id }}" role="alert">
				<div class="applicant-row" data="{{ app.id }}">
					<span class="applicant-field"
						data="{{ app.id }}">{% widthratio app.score app.num_of_scores 1 %}</span>
					<span class="applicant-field" data="{{ app.id }}">{{ app.num_of_scores }}</span>
					<span class="applicant-field" data="{{ app.id }}">{{ app.first_name }} {{ app.last_name }}</span>
					<span class="applicant-field" data="{{ app.id }}">{{ app.get_year_of_study_display }}</span>
					<span class="applicant-field" data="{{ app.id }}">{{ app.get_department_display }}</span>
					<span class="applicant-field" data="{{ app.id }}">{{ app.get_programs_display }}</span>
				</div>
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<!--/.row-->
</div>
<!--/.main-->
{% endblock %}

{% block scripts %}
<script>
	$('.applicant-link, .applicant-row, .applicant-field').mouseenter(event => {
		if ($(event.target).attr('class').includes('applicant-link')) {
			$(event.target).addClass('bg-teal');
		}
	}).mouseleave(event => {
		$('.applicant-link').removeClass('bg-teal');
	})

	$('.applicant-link, .applicant-row, .applicant-field').click(event => {
		if ($(event.target).attr('data')) {
			window.location.href = `/dashboard/scoring/${$(event.target).attr('data')}`;
		}
	});
</script>
{% endblock %}