{% extends 'dash_generic.html' %}
{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/dashboard">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active"><a style="text-decoration: none; color: #777777;" href="/dashboard/scoring">
                    Scoring</em>
                </a></li>
            <li class="active">{{ applicant.id }}</li>
        </ol>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading dark-overlay">{{ applicant.first_name }} {{ applicant.last_name }}</div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Year</div>
                            <div class="panel-body">
                                {{ applicant.get_year_of_study_display }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Department</div>
                            <div class="panel-body">
                                {{ applicant.get_department_display }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Program(s)</div>
                            <div class="panel-body">
                                {{ applicant.get_programs_display }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Link to Portfolio</div>
                            <div class="panel-body custom-white-panel">
                                {% if applicant.teammates %}{{ applicant.personal_link }}{% else %}None{% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Technical Skills</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.technical_skills }}
                            </div>
                        </div>
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Used Microcontrollers?</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.get_microcontrollers_display }}
                            </div>
                        </div>
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Coursework</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.course_work }}
                            </div>
                        </div>

                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">My Motivation</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.project_motivation }}
                            </div>
                        </div>
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">I know the goal but not the steps!</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.project_goal_but_not_steps }}
                            </div>
                        </div>
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Teammates</div>
                            <div class="panel-body custom-white-panel">

                                {% if applicant.teammates %}{{ applicant.teammates }}{% else %}None{% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Extracurricular</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.extracurricular_work }}
                            </div>
                        </div>

                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Example of Collaboration</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.collab_situation }}
                            </div>
                        </div>
                        <div class="panel panel-teal">
                            <div class="panel-heading dark-overlay">Rude Teammates</div>
                            <div class="panel-body custom-white-panel">
                                {{ applicant.rude_team_member }}
                            </div>
                        </div>
                        <div class="custom-input-panel">
                            <form method="post" class="form-inline" id="target">
                                {% csrf_token %}
                                {% if check_existing %}
                                <div>You already scored this applicant!</div>
                                {% elif applicant.num_of_scores > 4 %}
                                <div>This applicant has already been scored 5 times!</div>
                                {% else %}
                                {% for field in score_form %}
                                {{ field.errors }}
                                <label>Score (1 - 10): <a style="color: white; text-decoration: underline;"
                                        href="/dashboard/rubric">Read Rubric First</a>
                                </label>
                                <div class="custom-input-panel-text">
                                    {{ field }}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                    <div class="col-auto my-1">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <br>
                                {% for field in update_form %}
                                <div
                                    style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
                                    <label {% if not request.user.is_staff %} style="display: none;" {% endif %}>Accept
                                        applicant?</label>
                                    <div {% if not request.user.is_staff %} style="display: none;" {% endif %}
                                        class="custom-input-panel-text">
                                        <div style="display: none;">{{ field }}</div>
                                        <button type="button"
                                            class="btn btn-info {% if applicant.accepted %} disabled {% endif %}"
                                            id="accept-btn">{% if applicant.accepted %}&#10004;{% else %}Accept{% endif %}</button>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#accept-btn').click(() => {
        if (!$('#accept-btn').hasClass('disabled')) {
            $('#accept-btn').addClass('disabled');
            $('#accept-btn').addClass('btn-primary');
            $('#accept-btn').html('&#10004;')
            $('input:checkbox').prop('checked', true);
            $('#target').submit();
        }
    });
</script>
{% endblock %}