{% extends 'base_generic.html' %}

{% block body %}
<div style="height: 100vh; background: #659DBD !important;">
    <br><br><br><br><br><br>

    <div class="container" style="width: '50%' !important;">

        <h4 class="text-white">I regret to inform you that the deadline (Sunday October 6th) for QP applications has passed!
            For those 200+ applicants that applied, stay tuned for email updates and confirmations if you get accepted. 
            There will be a mandatory kickoff meeting at Qualcomm Conference Room on Friday October 11th from 6:30pm - 9:00pm for all those who
            are accepted into the program. For the rest of you, don't worry. We will send out applications for Winter QP/QP++ during Week 9.
            Thank you for your interest!
            
            <br><br><a class="text-dark" style="text-decoration: underline" href="/">GO BACK TO HOME</a></h4>
    </div>
</div>
{% endblock %}