{% extends 'base_generic.html' %}

{% block body %}
<div style="height: 100vh; background: #659DBD !important;">
    <br><br><br><br><br><br>

    <div class="container" style="width: '50%' !important;">

        <h4 class="text-white">Thank you for applying! <br><br>Every quarter, over 100 students apply to IEEE Quarterly
            Projects
            so the selection process can be competitive.<br><br>
            If you are accepted into the program you can expect an email AFTER the current deadline has passed!
            
            <br><br><a class="text-dark" style="text-decoration: underline" href="/">GO BACK TO HOME</a></h4>
    </div>
</div>
{% endblock %}