{% extends 'base_generic.html' %}

{% block body %}
<header style="width: 100%; height: 100%; overflow-x: hidden;">
    <div id="arrow" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#arrow" data-slide-to="0" class="active"></li>
            <li data-target="#arrow" data-slide-to="1"></li>
            <li data-target="#arrow" data-slide-to="2"></li>
            <li data-target="#arrow" data-slide-to="3"></li>
            <li data-target="#arrow" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" style="height: 100vh !important; width: 100vw !important;" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/staticfile/images/QPphotos/6J9A2937.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Engineer.</h2>
                    <p class="lead">Gain Hands-on Technical Experience</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/staticfile/images/QPphotos/6J9A2930.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Design.</h2>
                    <p class="lead">Explore Your Creative Passion</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/staticfile/images/QPphotos/6J9A2962.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Innovate.</h2>
                    <p class="lead">Build the Project of Your Dreams</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/staticfile/images/QPphotos/IMG_7021.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Mentor.</h2>
                    <p class="lead">Learn from Peer Experience</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/staticfile/images/QPphotos/IMG_7044.JPG')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Showcase.</h2>
                    <p class="lead">Forge Your Career Path</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#arrow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#arrow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<br><br><br>

<!-- Page Content -->
<section class="py-5" id="about-qp">
    <div class="container">
        <h1 class="display-4">What is Quarterly Projects?</h1><br>
        <p class="lead" style="letter-spacing: 0.5px;">IEEE Quarterly Projects is your path to a great project
            experience. Over the course of 10 weeks (4 - 5 hours per week),
            you will be working with other students and an assigned mentor to create a truly AMAZING hardware/software
            product!
            Similar to an internship or job setting, there will be multiple opportunities to gain hands on experience
            that can be incredible milestones for your career. We also offer bi-weekly work-a-thons with exciting
            workshops
            like arduino, web & mobile development, SolidWorks, and more. We want to know that you have the motivation,
            reliability
            and initiative required to develop a product from START to FINISH. Don't worry, our mentors will provide you
            with all the help you need along the way!</p>

        <!-- Note to Applicants: We won't be more impressed if you have loads of technical experience on your resume, but we
        will be if you convince us that you want to learn how to BUILD and BREAK things! So make sure to put effort into
        writing your application! -->

        <br><br>

        <h1 class="display-4">What is QP++?</h1><br>
        <p class="lead" style="letter-spacing: 0.5px;">This quarter we are bringing back QP++ - the next iteration of
            Quarterly Projects - for those
            looking
            to challenge themselves! Unlike Quarterly Projects, you will compete in teams of 5 - 6 for 10 weeks to
            develop a
            much more technically complex product. You will receive a larger budget, advanced workshops and you will
            learn
            relevant skills to solve technically demanding problems in the future!</p>

        <br><br>

        <h1 class="display-4">How Do I Apply?</h1><br><br>
        <div class="row">
            <div class="col-sm-5" align="center">
                <a href="/apply" class="btn btn-primary btn-lg text-white">Apply Here</a>
            </div>
            <!-- <div class="col-sm-1 align-self-center lead" align="center">
                OR
            </div>
            <div class="col-sm-5" align="center">
                <a href="https://forms.gle/CmoSbvXv3naTJRsj6" class="btn btn-primary btn-lg text-white">Apply Via Google
                    Form</a>
            </div>-->
        </div>

        <br><br><br>

        <h1 class="display-4">What if I Get Accepted?</h1><br>
        <p class="lead" style="letter-spacing: 0.5px;">If you get accepted into the program, you will receive a
            CONFIRMATION EMAIL and a GOOGLE FORM.
            You will have 72 HOURS to confirm your participation. There will also be a mandatory kickoff to attend
            (details below).</p>


        <h1 class="display-4">When is the Kickoff?</h1><br>
        <p class="lead" style="letter-spacing: 0.5px;">
            DATE: January 17th, 3:00pm - 6:00pm<br>
            EVENT: QP & QP++ Kickoff<br>
            LOCATION: Qualcomm Conference Rm, 1st Floor of Jacobs Hall<br>
            DESCRIPTION: At the kickoff, QP/QP++ teams will get a chance to meet their teammates, start brainstorming
            project ideas, set up points of contact and receive FREE FOOD and DRINKS!
        </p>

        <h1 class="display-4">Contact us:</h1><br>
        <p class="lead" style="letter-spacing: 0.5px;">
            Email: ieee.ucsd.project@gmail.com
        </p>
        <p class="lead" style="letter-spacing: 0.5px;">
            Facebook Page: <a href="https://www.facebook.com/ieeeucsd/">IEEE UCSD FB</a>
        </p>
    </div>
</section>
{% endblock %}