{% extends 'base_generic.html' %}

{% block body %}
<div style="height: 100vh; background: #659DBD !important;">
    <br><br><br><br><br><br>
    <div class="container auth-container">
        <form method="post">
            {% csrf_token %}
            {% include 'custom-form.html' with form=form %}
            <p style="color: white; font-size: 20px;">**Note: username and password are both "ieeeqp" for visitors and QP participants!</p>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-light">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}